@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#header3-2 H3 {
  font-size: 48px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#header3-2 P {
  text-align: center;
}
#content1-4 DIV {
  color: #000000;
}
#content1-4 P {
  text-align: left;
}
